**Alunos:**
 - Pedro Henrique Fernandes de Santana
 - Nikolle de Lacerda Nascimento
 - Lucas Nascimento
 - Kalita Rodrigues

**importar o pandas**

In [ ]:
import pandas as pd

**Fazer uma lista com o nome das pastas dos movimentos**

In [ ]:
nome_movimentos = ['Brush_teeth','Climb_stairs','Comb_hair','Descend_stairs','Drink_glass','Eat_meat','Eat_soup','Getup_bed','Liedown_bed','Pour_water','Sitdown_chair','Standup_chair','Use_telephone','Walk',]

In [ ]:
nome_movimentos = ['Brush_teeth','Climb_stairs']

**1 - loop para iterar nas pastas**

**2 - Puxar o nome dos arquivos dentro da pasta**

**3 - Importar os dados dos arquivos e amontoá-los  em um dataframe de nome 'df'**

In [ ]:
import pandas as pd
import os
#Criando um dataFrame vazio pra adicionar os dados dos arquivos
df_all = pd.DataFrame(columns=["X","Y","Z","Ano","Mes","Dia","Horas","Minutos","Segundos","Tipo_movimento","Genero","Num_voluntario"])

#loop para iterar pelas pastas 
for y in range(len(nome_movimentos)):
  directory = os.fsencode(f'dados/{nome_movimentos[y]}')
  
  #função pra iterar por cada arquivo de uma pasta e extrair o nome dos arquivos
  def itera(directory):
    
    x=0
    array=[]
    for file in os.listdir(directory):
        filename = os.fsdecode(file)
        
        x += 1

        array.append(filename) 

    return array   
  #retorna um  array com o nome dos arquivos de uma pasta
  nome_arquivos = itera(directory)

  #loop que itera sobre os arquivos 
  for i in range(len(nome_arquivos)):
    split_nome_arquivos = nome_arquivos[i].split('-')
    split_nome_arquivos

    #Criação do dataframe com os dados de um arquivo e com todas as colunas necessárias  
    df = pd.read_csv(f'dados/{nome_movimentos[y]}/{nome_arquivos[i]}', header=None, names=["X","Y","Z","Ano","Mes","Dia","Horas","Minutos","Segundos","Tipo_movimento","Genero","Num_voluntario"],sep=" ")
    df['Ano'] = split_nome_arquivos[1]
    df['Mes'] = split_nome_arquivos[2]
    df['Dia'] = split_nome_arquivos[3]
    df['Horas'] = split_nome_arquivos[4]
    df['Minutos'] = split_nome_arquivos[5]
    df['Segundos'] = split_nome_arquivos[6]
    df['Tipo_movimento'] = split_nome_arquivos[7]
    df['Genero'] = split_nome_arquivos[8][0]
    df['Num_voluntario'] = split_nome_arquivos[8][1]

    #Junção do dataframe 'df_all' com o dataframe 'df'. 
    df_all = pd.merge(df_all, df, how = 'outer')

    
  del nome_arquivos

In [ ]:
df_all

        X   Y   Z   Ano  ... Segundos Tipo_movimento Genero Num_voluntario
0      39  57  42  2011  ...       04    brush_teeth      m              2
1      37  33  32  2011  ...       04    brush_teeth      m              2
2      40  59  39  2011  ...       04    brush_teeth      m              2
3      40  59  39  2011  ...       04    brush_teeth      m              2
4      40  57  35  2011  ...       04    brush_teeth      m              2
...    ..  ..  ..   ...  ...      ...            ...    ...            ...
70082  18  44  38  2012  ...       20   climb_stairs      m              7
70083  20  45  39  2012  ...       20   climb_stairs      m              7
70084  22  45  39  2012  ...       20   climb_stairs      m              7
70085  21  44  39  2012  ...       20   climb_stairs      m              7
70086  19  44  39  2012  ...       20   climb_stairs      m              7

[70087 rows x 12 columns]

In [6]:
del nome_arquivos

**4 - Salvar o dataframe em um arquivo csv com o nome 'dados_coletados.csv'**

In [ ]:
df_all.to_csv('dados_coletados.csv', encoding='utf-8', index=False)