**Pratica Integrada 2° semestre de 2021**

**Alunos:**
 - Pedro Henrique Fernandes de Santana
 - Nikolle de Lacerda Nascimento
 - Lucas Nascimento
 - Kalita Rodrigues

**Nesta terceira etapa, realizaremos pequenas alterações visando facilitar o trabalho de análise, que será a última etapa.**

- Eliminar observações do tipo MODEL;
- Eliminar a variável contendo nome do arquivo;
- Acrescentar nova variável representando a média das coordenadas;
  - Ou seja, obter, para cada instante a média das três coordenadas (X,Y,Z), ao final você deverá ter um vetor de médias ao longo do tempo.
- Veja o grau de correlação da nova variável que criamos em relação às demais coordenadas.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dados_coletados.csv')

### 1 - Eliminar observações do tipo MODEL;

As observações do tipo Model foram filtradas na coleta de dados

---

### 2 - Eliminar a variável contendo nome do arquivo;

In [3]:
#del nome_arquivos

### 3 - Acrescentar nova variável representando a média das coordenadas

In [4]:
#Criação da coluna Media

df['Media'] = 0

In [5]:
#Atribuindo a média pra coluna média
for i in range(len(df)):
  df['Media'][i] = (df['X'][i] + df['Y'][i] + df['Z'][i])/3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

### 4 - Veja o grau de correlação da nova variável que criamos em relação às demais coordenadas.

In [6]:
m = pd.Series(df['Media'])

x = pd.Series(df['X'])

y = pd.Series(df['Y'])

z = pd.Series(df['Z'])


print('A correlação entre Media e X é muito forte:', m.astype('float64').corr(x.astype('float64')))
print('A correlação entre Media e Y é fraca:', m.astype('float64').corr(y.astype('float64')))
print('A correlação entre Media e Z é forte:', m.astype('float64').corr(z.astype('float64')))

A correlação entre Media e X é muito forte: 0.8774749188301344
A correlação entre Media e Y é fraca: 0.3046541201657668
A correlação entre Media e Z é forte: 0.7458420203807167

### 5 - Salvar o dataframe em um arquivo csv com o nome 'dados_preparados.csv'

In [7]:
df.to_csv('dados_preparados.csv', encoding='utf-8', index=False)

In [8]:
df

         X   Y   Z   Ano  ...  Tipo_movimento  Genero  Num_voluntario  Media
0       39  57  42  2011  ...     brush_teeth       m               2     46
1       37  33  32  2011  ...     brush_teeth       m               2     34
2       40  59  39  2011  ...     brush_teeth       m               2     46
3       40  59  39  2011  ...     brush_teeth       m               2     46
4       40  57  35  2011  ...     brush_teeth       m               2     44
...     ..  ..  ..   ...  ...             ...     ...             ...    ...
446524  17  32  37  2012  ...            walk       m               5     28
446525  16  33  32  2012  ...            walk       m               5     27
446526  12  34  36  2012  ...            walk       m               5     27
446527  12  35  37  2012  ...            walk       m               5     28
446528  15  36  37  2012  ...            walk       m               5     29

[446529 rows x 13 columns]